{
  "presets": ["@babel/env"],
  "env": {
    "production-esm": {
      "presets": [
        ["@babel/env", { "modules": false }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
