{
  "presets": [
    ["@babel/env", {
      "loose": true
    }]
  ],
  "env": {
    "production-esm": {
      "presets": [
        ["@babel/env", {
          "loose": true,
          "modules": false
        }]
      ]
    },
    "test": {
      "presets": [
        ["@babel/env", {
          "loose": true,
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
